// https://coolors.co/1aecf7-114b5f-1c0f13-09e85e-fcd581

$danger-color: #CC2936;
$warning-color: #FCD581;
$success-color: #09E85E;
$body-color: rgb(255 255 255 / 40%);
$primary-color: #1AECF7;

$theme-colors: (
    "success": $success-color,
    "warning": $warning-color,
    "danger": $danger-color,
    "body": $body-color,
    "primary": $primary-color,
);

@import "~bootstrap/scss/bootstrap";

html, body {
  background-color: #114B5F;
}

.card, .hero {
  background: linear-gradient(145deg, #114B5F, #ffffff26)
}

.roadmap {
  background: transparent;
}

footer {
  background-color: #1C0F13;
}

.fs-7 {
  font-size: small;
}

h2 {
  line-height: 48px !important;
}

.hero {
  background: linear-gradient(270deg, #092934, #1c0f13);
  background-size: 400% 400%;

  -webkit-animation: AnimatedBackground 17s ease infinite;
  -moz-animation: AnimatedBackground 17s ease infinite;
  -o-animation: AnimatedBackground 17s ease infinite;
  animation: AnimatedBackground 17s ease infinite;
}

@-webkit-keyframes AnimatedBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimatedBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimatedBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimatedBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}